@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'MedievalSharp'; 
    background-image: url(../img/fundodothales.jpg);
    color:rgb(255, 243, 240);
    font-size: 30px;
    margin: 0px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    background-color:brown;
    border: 5px solid brown;
    
}
nav a:hover{
    color: green;
}
a{
    color: white;
    text-decoration:none;
}
#face{
    position: absolute;
    align-items: center;
    left: 45%;
    width: 170px;
    height: auto;
    border-radius: 50%;
    border: 1px solid #a52a2a;
    }
.center{
    text-align: center;
    background-image: url('../img/fundodothales.jpg');
}
.corpo{
    border: 30px solid brown;
    margin: 15%;
    background-color: brown ;
}
